<p>
 <strong>Name:</strong>
 <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Region:</strong>
  <%= @user.region %>
</p>

<p>
  <strong>info:</strong>
  <%= @user.info %>
</p>
<td><%= image_tag( @user.photo, class:"img-responsive") %>

<h2>Artesanos</h2>
   <div id="artesanos_home">
    <% @user.craftsmen.each do |craftsman| %>
      <tr>
        <div id="artesano">       
          <div class="panel panel-default">
             <div class="panel-body">
          
         <td><%= craftsman.name %></td>
         <td><%= image_tag( craftsman.photo, class:"img-responsive") %>
              </div>
           </div>
          </div>
      </tr>
        <% end %> 
</div>

