<p>
 <strong>Name:</strong>
 <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Region:</strong>
  <%= @user.region %>
</p>

<p>
  <strong>info:</strong>
  <%= @user.info %>
</p>
<td><%= image_tag( @user.photo, class:"img-responsive") %>




<div>Artesanos</div>
  <div>
  <% @user.craftsmen.each do |craftsman| %>
         <td><%= craftsman.name %></td>
         <td><%= image_tag( craftsman.photo, class:"img-responsive") %>

        <% end %> 
</div>
