  <h1><%=  current_customer.name %></h1>



<h1>Tu Carro</h1>
<%= link_to "Vacia carro", cart_clear_path %>
<% total= 0 %>


<ul>
<% @cart.each do | id, quantity | %>
<% product = Product.find_by_id(id)  %>
		<li>
			 <%= link_to product.title, product %> 
			 <p><%= product.description %>
			 <p><%= number_to_currency(product.price, :unit => '$' ) %></p>
			 <p> Cantidad: <%= quantity %>	</p>
		</li>
	<p>Total:<% total += quantity * product.price %>
	<%end  %>

<b><%= number_to_currency(total, :unit => '$')  %></b></p>
<%   %>
</ul>

