<p id="notice"><%= notice %></p>

<h1>Listing Craftsmen</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Region</th>
      <th>Bio</th>
      <th>Category</th>
      <th>Comuna</th>
      <th>Phone</th>
      <th>User</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @craftsmen.each do |craftsman| %>
      <tr>
        <td><%= craftsman.name %></td>
        <td><%= craftsman.email %></td>
        <td><%= craftsman.region %></td>
        <td><%= craftsman.bio %></td>
        <td><%= craftsman.category %></td>
        <td><%= craftsman.comuna %></td>
        <td><%= craftsman.phone %></td>
        <td><%= craftsman.user %></td>
        <td><%= craftsman.age %></td>
        <td><%= image_tag( craftsman.photo, class:"img-responsive") %>

        <td><%= link_to 'Show', craftsman %></td>
        <td><%= link_to 'Edit', edit_craftsman_path(craftsman) %></td>
        <td><%= link_to 'Destroy', craftsman, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, :craftsmen %>

<%= link_to 'New Craftsman', new_craftsman_path %>
<% end %>