<p id="notice"><%= notice %></p>

<h1>Artesanos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Region</th>
      <th>Category</th>
      <th>Comuna</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @craftsmen.each do |craftsman| %>
      <tr>
        <td><%= link_to craftsman.name, craftsman %></td>
        <td><%= craftsman.region %></td>
        <td><%= craftsman.category %></td>
        <td><%= craftsman.comuna %></td>
        <td><%= craftsman.age %></td>
        <td><%= image_tag( craftsman.photo, class:"img-responsive") %>

        
        <td><%= link_to 'Edit', edit_craftsman_path(craftsman) %></td>
        <td><%= link_to 'Destroy', craftsman, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, :craftsmen %>

<%= link_to 'Ingresar Artesano', new_craftsman_path %>
<% end %>
<li><%= link_to "Productos", products_path %></li>

