
<% unless user_signed_in? %>
<li><%= link_to 'Ingresar', new_user_session_path %></li>
<li><%= link_to 'Registrar', new_user_registration_path %></li>
<li><%= link_to 'Registrar cliente', new_customer_registration_path %></li>

<li><%= link_to 'Log out',  destroy_customer_session_path , method: :delete, data: { confirm: 'Seguro que quieres salir'} %></li>

<% else %>
<li><%= link_to current_user.email, muni_profile_path   %></li>
<li><%= link_to current_user.name, edit_user_registration_path  %></li>
<li><%= link_to 'Municipalidades', muni_index_path %></li>
<li><%= link_to current_user.email, edit_customer_path   %></li>


<li><%= link_to 'Log out',  destroy_user_session_path , method: :delete, data: { confirm: 'Seguro que quieres salir'} %></li>
<% end %>

