<h1>El lugar donde puedes comprar reales artesanias y ayudar al desarollo economico de sectores rurales de Chile</h1>

<nav>
<ul>
    <li><%= link_to "Productos", products_path %></li>
    <li> <%= link_to "Artesanos", craftsmen_path %> </a></li>
    <%= link_to 'Municipalidades', muni_index_path %>
    
</ul>
</nav>



  <tbody>
  <div id="artesanos_home">
    <% @craftsmen.each do |craftsman| %>
      <tr>
      <div>
        <td><%= craftsman.name %></td>
        <td><%= craftsman.email %></td>
        <td><%= craftsman.region %></td>
        <td><%= craftsman.category %></td>
        <td><%= craftsman.comuna %></td>
        <td><%= craftsman.age %></td>
        <td><%= image_tag( craftsman.photo, class:"img-responsive") %>
	  </div>        </tr>
    <% end %>
  
  </tbody>
  <tbody>
  <div id="productos_home">
    <% @products.each do |product| %>
      <tr>
        <div>
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td><%= image_tag( product.photo, class:"img-responsive") %>
        </div>
        </tr>
    <% end %>
      </div>
  </tbody>


 <%= link_to "Productos", products_path %> 
 <%= link_to "Artesanos", craftsmen_path %> 