<div id="frase"><h1>El lugar donde puedes comprar reales artesanias y ayudar al desarollo economico de sectores rurales de Chile</h1></div>

<nav>
<ul>
    <li><%= link_to "Productos", products_path %></li>
    <li> <%= link_to "Artesanos", craftsmen_path %> </a></li>
    <li><%= link_to 'Municipalidades', muni_index_path %></li>
    
</ul>
</nav>



  <tbody>

<div id="destacados"><h2>Artesanos destacados</h2></div>
   
  <div id="artesanos_home">
    <% @craftsmen.each do |craftsman| %>
      <tr>
          <div id="artesano">       
           <div class="panel panel-default">
              <div class="panel-body">
                <td><%= link_to craftsman.name, craftsman %></td>
                <td><%= craftsman.comuna %></td>
                <td><%= craftsman.age %></td>
                <td><%= image_tag( craftsman.photo, class:"img-responsive") %>      </td> 
              </div>
           </div>
          </div>
      </tr>
    <% end %>
   </div>        
  </tbody>
 

<tbody>
   <div id="destacados"> <h2>Productos destacados</h2><div>

  <div id="productos_home">
    <% @products.each do |product| %>
      <tr>
        <div id="producto">          
         <div class="panel panel-default">
           <div class="panel-body">
              <td><%= link_to product.title, product %></td>
             <td><%= product.price %></td>
             <td><%= image_tag( product.photo, class:"img-responsive") %></td>
           </div>
         </div>
        </div>
      </tr>
    <% end %>
  </div>
  </tbody>

 